body{
    background: radial-gradient(circle, rgba(109, 106, 107, 0.623), rgb(66, 63, 66), rgb(7, 7, 7) );
    display: flex;
    height: 100vh;
    margin: 0;
}

.info{
    width: 700px;
}

.cabeçalho{
    font-size: 46px;
    color: aliceblue;
}
.eu{
    color: aliceblue;
    font-size: medium;
}
.perfil{
    max-width: 175px;
    max-height: 175px;
    border-radius: 50%;
    right: 100px;
}